<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500338137984-b8nfcdvhl9d2qo5cki1lfn9clruk2mtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500338137984-b8nfcdvhl9d2qo5cki1lfn9clruk2mtt</string>
	<key>API_KEY</key>
	<string>AIzaSyD58QglGE0Gk31BUhjfH2-1RgxnBkXqwfM</string>
	<key>GCM_SENDER_ID</key>
	<string>500338137984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bacobizz.Baco</string>
	<key>PROJECT_ID</key>
	<string>bookacook-278511</string>
	<key>STORAGE_BUCKET</key>
	<string>bookacook-278511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500338137984:ios:5676f9045a33a54a74bf65</string>
	<key>DATABASE_URL</key>
	<string>https://bookacook-278511.firebaseio.com</string>
</dict>
</plist>